---
layout: post
title: Analytics on Working Specimen


src: Cropped_fiber_matrix_400_400mat

references: 
- http://www.mathworks.com/matlabcentral/fileexchange/23611-peak-fitter
---

{% assign dat = site.data | map: {{page.src}} %}

## Image Analytics

Analytics on the raw Image voxels.

<div class="row">
    <div class="col-lg-6">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Field</th>
                <th>Value (voxels)</th>
            </tr>
            
            {% for analytics in dat[0].voxels %}
            <tr>
                <td>{{analytics[0]}}</td>
                <td>{{analytics[1]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

## Face Slices

These slices are the top faces in X-Y, Y-Z, and X-Z of the volumetric image.

{% for img in dat[0].images.top %}
![{{img.description}}]({{site.baseurl}}/{{img.src}})

> {{img.description}}
{% endfor %}

## Middle Slices

These slices are the top faces in X-Y, Y-Z, and X-Z of the volumetric image.

{% for img in dat[0].images.mid %}
![{{img.description}}]({{site.baseurl}}/{{img.src}})

> {{img.description}}
{% endfor %}

## Distribution of Pixels Values

![{{dat[0].images.distribution.description}}]({{site.baseurl}}/{{dat[0].images.distribution.src}})

## Test Peak Fitting on the Image's Histogram

> There should be at least two distinct peaks in the image histogram for this data, 
but the peaks are heavily convolved. We tried a peak fitting code from [Matlab Central]({{page.references[0]}})
and produced the following output. **Please add your interpretations.**

![{{dat[0].images.peaks.description}}]({{site.baseurl}}/{{dat[0].images.peaks.src}})