---
title: Analytics on Second Sample
layout: post
src: Cropped_fiber_matrix_N_400_400mat
src2: Cropped_fiber_matrix_400_400mat
---
{% assign dat = site.data | map: {{page.src}} %}
{% assign dat2 = site.data | map:{{page.src2}} %}


## Images Stats

<div class = "row">
	<div class = "col-lg-6">
		<table class="table table-boardered table striped">
			<tr>
				<th>Field</th>
				<th>Value (voxels)</th>
			</tr>
			
			{% for analytics in dat[0].voxels %}
			<tr>
				<td>{{analytics[0]}}</td>
				<td>{{analytics[1]}}</td>
				
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

## Slices
These are slices in the X-Y, Y-Z and X-Z planes

{% for img in dat[0].images.top %}
![{{img.description}}]({{site.baseurl}}/{{img.src}})

> {{img.description}}
{% endfor %}

## Comparision of Distribution of Pixel Values

![{{dat[0].images.distribution.description}}]({{site.baseurl}}/{{dat[0].images.distribution.src}})

> Distribution of Sample N

![{{dat2[0].images.distribution.description}}]({{site.baseurl}}/{{dat2[0].images.distribution.src}})

> Distribution of Sample S

These look suspiciously alike I need to check to make sure that I did not accidently put the same image in both places.

## Peak fitting two peaks 

![{{dat[0].images.Peak_fit2.description}}]({{site.baseurl}}/{{dat[0].images.Peak_fit2.src}})

## Peak fitting 3 peaks - a comparision

![{{dat[0].images.Peak_fit3.description}}]({{site.baseurl}}/{{dat[0].images.Peak_fit3.src}})

> Peak fitting for Sample N

![{{dat2[0].images.peaks.description}}]({{site.baseurl}}/{{dat2[0].images.peaks.src}})

> Peak fitting for Sample S

The difference between these two peak fits is significant.  In the N sample, which is expected to have a lower volume fraction, there are two peaks that do not change very much 
from the two peak fit to the three peak fit.  The third peak is very wide and with a much higher center.  In contrast, the third 
peak on the S sample falls between the two peaks found in 2 peak fitting.  The lack of a distictive 3rd peak might indicate that 
the N sample has a clearer distiction between the fiber and matrix for this sample.  


