---
title: Analytics on Second Sample
layout: post
src: Cropped_fiber_matrix_N_400_400mat
---
{% assign dat = site.data | map: {{page.src}} %}


## Images Stats

<div class = "row">
	<div class = "col-lg-6">
		<table class="table table-boardered table striped">
			<tr>
				<th>Field</th>
				<th>Value (voxels)</th>
			</tr>
			
			{% for analytics in dat[0].voxels %}
			<tr>
				<td>{{analytics[0]}}</td>
				<td>{{analytics[1]}}</td>
				
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

## Slices
These are slices in the X-Y, Y-Z and X-Z planes

{% for img in dat{0}.images.top %}
![{{img.description}}]({{site.baseurl}}/{{img.src}})

> {{img.description}}
{% endfor %}



